<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ content_for_header }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"
    >
    <title>{{ shop.name | escape }}</title>
  </head>
  <body>
    <div class="page-wrapper">
      {% section 'header' %}
      <div class="page-content">
        <main id="main" role="main" aria-labelledby="page-title">
          {{ content_for_layout }}
        </main>
      </div>
      {% section 'footer' %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js" defer></script>
  </body>
</html>
